body {
  font-family: sans-serif;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  margin: auto;
  display: flex;
}
#container {
  width: 100vw;
  height:  100vh;
}

h1 {
  padding: 0;
  font-size: 5vw;
  margin: 2vw;
}

img{
  margin: 2vw;
  width: 70vw;
  margin-bottom: 5vw;
}

p{
  font-size: 1.5vw;
  margin: 2vw;
  padding-right: 10vw;
}

button img{
  width: 100px;
}